.dark-blue{
	background-color:#07375F;
}

.white{
	background-color: #FFF;
}
.main-box {
	width:800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	overflow:hidden;
}

.links{
	position: absolute;
	left:40px;
	margin-top:50px;
	width:160px;
}

a
{
	color:#EB5A00;
	text-decoration: none;
}

a:hover
{
	color:#D10000;
}

p{
	text-align: justify;
}

.picture{
	margin-right:25px;
	margin-bottom: 15px;
	float:left;
	width: 300px;
}

.details {
	margin-top: 25px;
}

.description {

}

.rounded {
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}

.light-color {
	background-color: #FFF;
	color: #000;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14pt;
}

.current {
	color:gray;
}

.funny-quote{
	color: gray;
	position:absolute;
	right:40px;
	top:30px;
	width:180px;
}